<p id="notice"><%= notice %></p>

<p>
  <strong>Project type:</strong>
  <%= @content.project_type %>
</p>

<p>
  <strong>Body:</strong>
  <%= @content.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @content.image %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @content.accepted %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
