<h1>Create Order</h1>

<%  @outlet_produces.each do |op| %>
<%= form_for(@order) do |f| %>
  
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


        <div class="col-md-4">
          <p>Name: <%= op.produce.name %></p>
        </div>
        <div class="col-md-4">
          <p>Quantity: <%= op.quantity %></p>
        </div>
        <div class="field">
          <%= f.label :QTY%>
          <%= f.number_field :quantity_bought  %>
        </div>
        <div class="field">
          <%= f.label :User%>
          <%= f.text_field :user_id, :value => current_user.id %>
        </div>
        <div class="field">
          <%= f.label :outlet_produce_id%>
          <%= f.text_field :outlet_produce_id, :value => op.id %>
        </div>
        <div class="field">
          <%= f.label :purchase_date%>
          <%= f.date_field :purchase_date, :value => Date.today %>
        </div>
        <div class="actions">
          <%= f.submit "Submit", class:"btn btn-default" %>
        </div>
  <% end %>
  <% end %>
