

<% @orders.each do |order| %>
<h4><%= order.inspect %></h4>
<% end %>

<h3><%= @outlet_produces.inspect %> </h3>
<h3><%= current_user.inspect %> </h3>

<h3><%= @produce_list_by_outlet.inspect %> </h3>

<h3><%= @order_summary.inspect %> </h3>

<%= react_component 'OrderBody', { data: @produce_list_by_outlet, orders: @orders, order_summary: @order_summary, current_user: current_user, invoice_pg: false } %>
